@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.red-square {
    height: 100px;
    width: 100px;
    background-color: red;

}

.green-circle {
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius:50%;

}

.box-abu {
    height: 100px;
    width:  400px;
    backgorund-color: grey;
    outline: auto;
    padding: 10px 0px 0px 20px;
}

.yt-music {
    height: auto;
    width: 500px;
    outline: auto;
    padding: 5px 0px 0px 5px;
    border:none;
    outline: none;
    color:white;
    background-color:black
}

.kucing-image {
    height:50px;
    width:50px;
    border-radius:50%
}

.container-kucing {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    height:auto;
    width: auto;
    box-shadow: 1px 1px 2px 2px black;
    padding: 8px 8px 8px 8px;
}

.btn-tweet {
    border: none;
    outline: none;
    height: 30px;
    width: 70px;
    border-radius: 20px;
    background-color: rgb(49, 160, 240);
    color: white;
    font-weight: bold;
    
}


.text-kucing {
    font-family: 'Roboto', sans-serif;
    gap: 0px
}
/*9f.*/

.container-ig {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    font-family: 'Roboto', sans-serif;
}
.ig {
    border: none;
    outline: none;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    height: auto;
    width: 170px;
}

.profile {
    width: 170px;
    height: 170px;
}

.name-friend {
 padding-left: 5px;
 font-family: 'Roboto', sans-serif;
}

.keterangan {
    padding-left:5px;
}

.spasi {
    line-height:10px;
}

.btn-AddFriend {
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 0px;
    height: auto;
    width: auto;
    border: none;
    outline: none;
    background-color:rgb(2, 111, 235);
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    color: white;
}

.ig-kucing {
    border: none;
    outline: none;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    height: auto;
    width: 170px;
}

.profile-kucing {
    width: 170px;
    height: 170px;
}

.name-friend {
 padding-left: 5px;
}

.keterangan {
    padding-left:5px;
}

.spasi {
    line-height:10px;
}

.btn-AddFriend {
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 0px;
    height: auto;
    width: auto;
    border: none;
    outline: none;
    background-color:rgb(2, 111, 235);
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    color: white;
}

.ig-kucing {
    border: none;
    outline: none;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    height: auto;
    width: 170px;
}

.profile-kucing {
    width: 170px;
    height: 170px;
}

.name-friend {
 padding-left: 5px;
}

.keterangan {
    padding-left:5px;
}

.spasi {
    line-height:10px;
}

.btn-AddFriend {
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 0px;
    height: auto;
    width: auto;
    border: none;
    outline: none;
    background-color:rgb(2, 111, 235);
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    color: white;
}

/*9h.*/
.textbox-google {
  box-shadow: 5px;
  width: 400px;
  height: 40px;
  display: flex; 
  justify-content: flex-start;
  border-radius: 50px;
  padding-left: 10px;
  border: none;
  outline: none;
  box-shadow: 0 0 5px black;
}
.image-google {
  padding-left: 80px;
  width: 200px;
}

.container-google {

}

.btn-src {
    height:40px;
    width: auto;
    font-weight:650;
    margin-top: 20px;  /*harus ditanya pada pak yayat!!!*/
    margin-left: 70px;
    border: none;
}

.btn-Lucky {
    height:40px;
    width: auto;
    font-weight:650;
    border: none;
    margin-left: 10px;
}