/* container-utama */
.container {
  display: flex;
  margin-bottom: 20px;
}


.box-pink {
  background-color: #f3b0bb; 
  width: 100px;
  height: 60px;
  padding-left: 15px; 
}

.box-blue {
  background-color: #add8e6; 
  width: 200px;
  height: 60px;
  padding: 0 10px;
}


.black-tag {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 2px 4px;
  width: fit-content;
}

/* 13a*/
.flex-center-vert {
  display: flex;
  align-items: center; 
}

/*13b*/
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.flex-column {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.none-tag {
  font-weight: bold;
}

.analysis-box {
  font-family: Arial, sans-serif;
  border: 2px dashed #ccc;
  padding: 15px;
  background-color: #fafafa;
  width: 400px;
}

.email-container {
  width: 400px;
  border: 1px solid #dcdcdc;
  padding: 12px;
  font-family: Arial, sans-serif;
}


.inbox-label {
  color: #707070;
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 15px;
}

/* 13d */
.email-row {
  display: flex;
  align-items: flex-start;
}

.profile-pic {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}

.email-info {
  flex: 1; 
}

/* 13d */
.email-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 2px;
}

.sender-name {
  font-weight: bold;
  font-size: 15px;
}

.send-time {
  color: #606060;
  font-size: 12px;
}

.email-subject {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 2px;
}

.email-preview {
  color: #707070;
  font-size: 13px;
  line-height: 1.2;
}

.tweet-container {
  display: flex;
  font-family: Arial, sans-serif;
  width: 500px;
  padding: 15px;
  border: 1px solid #e1e8ed;
  border-radius: 10px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
}

.tweet-content {
  flex: 1;
}

/* Header-flex-horizontal */
.tweet-header {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

.user-name {
  font-weight: bold;
}

.user-handle {
  color: #657786;
}

.tweet-text {
  margin-bottom: 12px;
  line-height: 1.4;
}

/*13g */
.video-card {
  display: flex; 
  border: 1px solid #ccd6dd;
  border-radius: 15px;
  overflow: hidden;
}

.video-thumbnail {
  background-color: #cccccc;
  width: 120px;
  height: 100px;
}

.video-info {
  flex: 1;
  padding: 12px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.video-url {
  color: #657786;
  font-size: 14px;
  margin: 0 0 4px 0;
}

.video-title {
  margin: 0;
  font-size: 15px;
  line-height: 1.3;
}